body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* GENERAL STYLES */

.wrapper {
  max-width: 1080px; 
  margin: 0 auto; 
}

img {
  max-width: 100%; 
  height: auto; 
}

html {
  font-size: 62.5%; 
}

/* REMOVAL OF DEFAULT STYLING */

body, 
h1, 
h2, 
h3, 
p, 
a {
  padding: 0; 
  margin: 0; 
}


/* HEADER STYLES  */

h1 {
  font-family: 'Secular One', sans-serif;
  font-size: 8rem;
  color: #ffd700;
  /* letter-spacing: 1px; */
  margin-left: 140px;
  padding-top: 50px;
  /* width: 50%;  */
  /* text-align: left; */
}

/* .jason {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%; 
} */

.title {
  padding-left: 200px;
}

header {
  background: #0f0f0f;
  height: 80vh;
}

h2 {
  color: #ffd700;
  font-size: 2rem;
  text-align: center;
  margin-top: 40px;

}

.icon {
  display: flex; 
  justify-content: center;
  align-items: flex-end;
  height: 130px; 
}

.fa-caret-square-down {
  color: #ffd700;
  font-size: 50px;
}

.fa-caret-square-down:hover {
  cursor: pointer;
}

.bounce {
	-webkit-animation: bounce 2s;
	        animation: bounce 2s;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
	0%,
	25%,
	50%,
	75%,
	100% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-20px);
		        transform: translateY(-20px);
	}
	60% {
		-webkit-transform: translateY(-12px);
		        transform: translateY(-12px);
	}
}

@keyframes bounce {
	0%,
	25%,
	50%,
	75%,
	100% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-20px);
		        transform: translateY(-20px);
	}
	60% {
		-webkit-transform: translateY(-12px);
		        transform: translateY(-12px);
	}
}

.submit {
  display: flex; 
  flex-direction: column;
}


.entries {
  /* background-color: #ffd700; */
  background-color: #0f0f0f;
  /* background-color: white; */
}

.list {
  background: url(./iphoneVectorBlack.png);
}
/* animation: bounce 3s infinite;  */

input {
  width: 500px;
  height: 500px;
}

textarea {
  border-radius: 10px;
  box-shadow: #fed700 10px 10px;
  border: none;
}